<input type="text" id="datetime-picker" />
<button type="button" disabled>Start</button>
<div class="timer__items">
  <div class="timer__box">
    <div class="timer__item js-timer__days" data-title="днів">00</div>
    <canvas id="stockGraph" data-days width="200" height="200"></canvas>
  </div>
  <div class="timer__box">
    <div class="timer__item js-timer__hours" data-title="годин">00</div>
    <canvas id="stockGraph" data-hourswidth="200" height="200"></canvas>
  </div>
  <div class="timer__box">
    <div class="timer__item js-timer__minutes" data-title="хвилин">00</div>
    <canvas id="stockGraph" data-minuteswidth="200" height="200"></canvas>
  </div>
  <div class="timer__box">
    <div class="timer__item js-timer__seconds" data-title="секунд">00</div>
    <canvas id="stockGraph" data-secondswidth="200" height="200"></canvas>
  </div>
</div>
